/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* STYLE
/*******************************************/
html {
     font-family: 'Lato', sans-serif;
     scroll-behavior: smooth;
}


header {
     color: whitesmoke;
}
#homeHero {
     overflow: hidden;

     /* background-image: url('../images/forest.jpg'); */
     background-size: cover;
     height: 550px;
     display: flex;
     flex-wrap: wrap;
     min-height:100%;
     background:linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url(../images/forest.jpg);
     background-size:cover;
     padding: 0 30px;
     padding-bottom: 150px;

}


header nav {
     /* padding: 2%; */
     width: 100%;
     list-style: none;
     display: flex;
     justify-content: space-around;
     align-items: baseline;
     flex-wrap: wrap;

}

.green {
     color: rgb(0, 163, 107);
     transition: all 400ms;

}
.green:hover {
     transition: all 400ms;
     text-shadow: 0px 12px 15px black;
}

nav h1 {
     text-shadow: 0px 12px 9px rgba(255, 255, 255, 0.1);
}

nav h1 span {
     font-weight: 200;
     font-size: 90%;
}


header nav a {
     transition: all 400ms;
     color: whitesmoke;
     text-decoration: none;
     padding: 0 5px;
}

header nav a:hover {
     transition: all 400ms;
     color: whitesmoke;
     opacity: 50%;
}

header h2 {
     transition: all 400ms;
     padding: 3% 0;
     text-align: center;
     width: 80%;
     margin: auto;
     font-size: 3.5rem;
     font-style: italic;
     font-weight: 400;
     text-shadow: 0px 12px 8px black;
     /* border-radius: 200px; */
     /* background: radial-gradient(rgba(0,0,0,0.3), rgba(21,50,33,0.6)); */
     /* background-image: radial-gradient(rgba(0, 0, 0, 0.2)) ; */
     /* box-shadow: 0px 0px 400px 45px rgba(21,50,33,0.6); */
}

header h2:hover{
     transition: all 400ms;
     text-shadow: 0px 12px 9px rgba(255, 255, 255, 0.5);
}

.basicBlock{
     margin-bottom: 120px;

} 

.basicBlock h2{
     color: whitesmoke;
     font-size: 2.5rem;
     font-weight: 700;
     font-style: italic;
     margin: 0;
     padding: 0;
}


div.photoBlock {
     margin: -100px auto;
     width: 65%;
     background-color: white;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: flex-start;
     max-width: 1000px;
}

div.photoBlock div {
     transition: all 400ms;
     background-color: white;
     height: 280px;
     width: 45%;
     padding: 5%;
     box-shadow: 0px 1px 3px 0.1px black;
     text-align: left;
     text-shadow: 0px 4px 6px black;
}

.flexBottomLeft{
     display: flex;
     justify-content: flex-start;
     align-items: flex-end;
}

#pBlock1 {
     transition: all 400ms;
     width: 53%; 
     margin-top: 2%;
     background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/lizardrock.jpg);
     background-size: cover;
     background-position: center;
}


div.photoBlock div:hover {
     box-shadow: 0px 12px 20px 5px black;
     transition: all 400ms;
     text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.589);

}

#pBlock2 {
     width: 42%; 
     margin-top: 2%;
     background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/bird.jpg);
     background-size: cover;
     background-position: center;
}
#pBlock3, #pBlock4, #pBlock5 {
     width: 31%;
     margin-top:2%;
}
#pBlock3 {
     background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/lizardgrey.jpg);
     background-size:cover;
     background-repeat:no-repeat;
     background-position: center;

}
#pBlock4 {
     background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/tree.jpg);
     background-size: cover;
     background-position: center;

}
#pBlock5 {
     background-image: url(../images/forest.jpg);
     background-size: cover;
     background-position: center;
}

#sectionAbout{
     height: 500px;
     color: whitesmoke;
     background-color: rgba(42,42,42,1);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
}

#sectionAbout h2 {
     font-weight: 400;
     font-style: normal;
     width: 80%;
     text-shadow: 0px 10px 6px rgba(0, 0, 0, 0.37);

}
#sectionAbout h2 span{
     font-style: italic;
     font-weight: 600;
}
#sectionAbout p {
     color: whitesmoke;
     font-size: 1.4em;
     width: 80%;
}

div.columnBlock{
     background-color: white;
     display: flex;
     justify-content: space-evenly;
     width: 80%;
     max-width: 1000px;
     margin: -220px auto 0 auto;
     border: 0.3px solid rgba(128, 128, 128, 0.15);
     border-radius: 20px;
     box-shadow: 0px 1px 5px 0.1px rgba(0, 0, 0, 0.363);
}

div.column {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 2%;
     text-align: center;
     width: 33.3333333%;
     font-size: 100%;
}

.column h2, .column h3, .column h4 {
     font-weight: 600;
     text-shadow: 0px 4px 2px rgba(107, 107, 107, 0.17);
}

.column div {
     min-height: 13rem;
     
}
#firstColumn {
     border-right: 0.3px solid rgba(128, 128, 128, 0.15);
}
#lastColumn {
     border-left: 0.3px solid rgba(128, 128, 128, 0.15);
}

.column ul {
     list-style-type: none;
     text-align: center;
     margin: auto;
     padding: 0;
}

.column li {
     padding: 10px 0;
}

.column img {
     width: 50%;
}
footer {
     height: 200px;
     color: white;
     background-color: rgba(42,42,42,1);
}

footer div {
     padding: 3rem 0;
     text-align: center;
}

.pointer {
     cursor:pointer;
}


/* MEDIA QUERIES  */
@media screen and (max-width: 850px) {
     header nav{
          justify-content: center;
     }
     nav a:first-child{
          width: 100%;
          margin: auto;
          text-align: center;
     }
     nav a:nth-child(2){
          display: none;
     }
     div.photoBlock {
          background-color: rgba(0, 0, 0, 0);
     }

     div.photoBlock div{
          min-width: 100%;
     }
     div.columnBlock{
          display: block;
     }
     div.column {
          width: 100%;
     }
}



